## MAC OS
.DS_Store
Icon*

## RUBY
*.gem
*.rbc
.bundle
.config
.rbx
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

## RUBINIUS
*.rbc
rakefile.compiled.rbc

## PROJECT::GENERAL
.bundle
.yardoc
.rbenv-version
_yardoc
coverage
doc
Gemfile.lock
measurements
output
pkg
rdoc
tmp
*.gem

## PROJECT::SPECIFIC
output/*
!examples/*.yml
!examples/*.gz
